<div class="jumbotron" ng-controller="JumbotronController as jumbotronCtrl" ng-animate="'jumbotron'">
  	<div class="container">
   		<img class="jumbo-logo" src="assets/image/logo.png" height="100px" width="400px">
  	</div>
	</div>
	<div class="content-menu">
		<section class="container" id="frameworks">
			<h2 class="page-header">Frameworks:</h2>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/angularjs.png" alt="angular" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/backbonejs.png" alt="backbone" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/bootstrap.png" alt="bootstrap" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/jquery.png" alt="jquery" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/laravel.png" alt="laravel" class="img-rounded">
				</a>
			</div>
		</section>
		
		<section class="container" id="languages">
			<h2 class="page-header">Languages:</h2>
			
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/java.png" alt="java" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/php.png" alt="php" class="img-rounded">
				</a>
			</div>
			
		</section>

		<section class="container" id="repository">
			<h2 class="page-header">Others:</h2>
			
			
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/html5.png" alt="html5" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/css3.png" alt="css" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/js5.png" alt="javascript" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/github.png" alt="github" class="img-rounded">
				</a>
			</div>
			<div class="col-md-3">
				<a class="menu-item">
					<img src="assets/image/menu-images/mysql.png" alt="mysql" class="img-rounded">
				</a>
			</div>
		</section>
	</div>